 ### 1. Python Function to Aggregate Weather Data

In [1]:
def aggregate_weather_data(records):
    city_data = {}

    for record in records:
        city = record['city']
        if city not in city_data:
            city_data[city] = {'temp_sum': 0, 'humidity_sum': 0, 'temp_count': 0, 'humidity_count': 0}

        if 'temperature' in record:
            city_data[city]['temp_sum'] += record['temperature']
            city_data[city]['temp_count'] += 1
        
        if 'humidity' in record:
            city_data[city]['humidity_sum'] += record['humidity']
            city_data[city]['humidity_count'] += 1

    result = {}
    for city, data in city_data.items():
        avg_temp = data['temp_sum'] / data['temp_count'] if data['temp_count'] > 0 else None
        avg_humidity = data['humidity_sum'] / data['humidity_count'] if data['humidity_count'] > 0 else None
        result[city] = {'avg_temperature': avg_temp, 'avg_humidity': avg_humidity}

    return result

# Example usage:
weather_records = [
    {'city': 'New York', 'temperature': 25, 'humidity': 80},
    {'city': 'New York', 'temperature': 20},
    {'city': 'Los Angeles', 'humidity': 60},
    {'city': 'Los Angeles', 'temperature': 30}
]

print(aggregate_weather_data(weather_records))

{'New York': {'avg_temperature': 22.5, 'avg_humidity': 80.0}, 'Los Angeles': {'avg_temperature': 30.0, 'avg_humidity': 60.0}}

This function aggregates temperature and humidity data for each city and calculates the average. Missing data is handled gracefully.

### 2. Python Function for Prime Factorization

In [3]:
def prime_factors(n):
    factors = []
    divisor = 2
    while n > 1:
        count = 0
        while n % divisor == 0:
            n //= divisor
            count += 1
        if count > 0:
            factors.append((divisor, count))
        divisor += 1
    return factors
print(prime_factors(60))

[(2, 2), (3, 1), (5, 1)]

This function iterates through possible divisors and checks how many times the number is divisible, building the factor-exponent pairs.

### 3. SQL Query for Increasing Product Prices

In [7]:
import sqlite3

# Connect to an in-memory SQLite database or your actual database
conn = sqlite3.connect(':memory:')  # Use a file path for a persistent database
cursor = conn.cursor()

# Create a sample products table and insert some data
cursor.execute('''
CREATE TABLE products (
    id INTEGER PRIMARY KEY,
    name TEXT,
    price REAL
)
''')

# Insert sample data
products = [
    (1, 'Product A', 100.0),
    (2, 'Product B', 150.0),
    (3, 'Product C', 200.0)
]
cursor.executemany('INSERT INTO products (id, name, price) VALUES (?, ?, ?)', products)
conn.commit()

# SQL query to increase price by 10%
cursor.execute('UPDATE products SET price = price * 1.10')
conn.commit()

# Fetch and display updated prices
cursor.execute('SELECT name, price FROM products')
updated_products = cursor.fetchall()

for product in updated_products:
    print(f'{product[0]}: {product[1]}')

# Close the connection
conn.close()

Product A: 110.00000000000001
Product B: 165.0
Product C: 220.00000000000003